


@{
    ViewData["Title"] = "Home Page";
}

@model WorkshopsListViewModel



<div class="text-center">
    <h1 class="display-4">Workshops</h1>
    <p>Unlock the power of learning</p>

    Welcome @Model.UserDisplay.UserId
</div>


@foreach (var p in Model.Workshops ?? Enumerable.Empty<Workshop>()) {
    <partial name="WorkshopSummary" model="p" />
}